In [29]:
import pandas as pd

import matplotlib.pyplot as plt

import sklearn

from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import joblib

## 2. Display Settings

In [12]:
#TO get all columns
pd.set_option("display.max_columns",None)

In [13]:
#sklearn by default gives numpy but to get data pandas Dataframe
sklearn.set_config(transform_output="pandas")

## 3.Get Data

In [15]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")
val_df = pd.read_csv("data/val.csv")

### 3.1 Split the Data

In [16]:
def split_data(data):
    X = data.drop(columns="price")
    y = data.price.copy()
    return (X,y)

In [18]:
X_train,y_train = split_data(train_df)
y_train

0       4995
1       8372
2       6117
3       7770
4       9187
       ...
635     4282
636    13067
637     4423
638     7670
639    10844
Name: price, Length: 640, dtype: int64

In [19]:
X_val,y_val = split_data(val_df)

In [20]:
X_test,y_test = split_data(test_df)

## 4. Data PreProcessing

In [25]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          200 non-null    object
 1   date_of_journey  200 non-null    object
 2   source           200 non-null    object
 3   destination      200 non-null    object
 4   dep_time         200 non-null    object
 5   arrival_time     200 non-null    object
 6   duration         200 non-null    int64
 7   total_stops      200 non-null    float64
 8   additional_info  200 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 14.2+ KB

In [26]:
dt_colums = ["date_of_journey","dep_time","arrival_time"]

num_columns = ["duration","total_stops"]

cat_col = [col for col in X_train.columns if(col not in dt_colums) and (col not in num_columns)]

In [27]:
cat_col

['airline', 'source', 'destination', 'additional_info']